.table__row {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    color: rgb(49, 47, 47);
    text-align: center;
}

.table__row:last-child {
    border-bottom: none;
}

.table__row_year {
    flex: 1;
    padding: 20px 0;
    width: 100%;
}

.table__row_category,
.table__row_firstname,
.table__row_lastname,
.table__row_age,
.table__row_fullname {
    flex: 2;
    padding: 20px 0;
    width: 100%;
}